@page "/starwars"

@using System.Threading.Tasks;
@using RazmusBlazorWASM.Entities

@inject RazmusBlazorWASM.Services.IStarWarsService StarWarsService

<PageTitle>JSON</PageTitle>

<h1>Show Starwars info (JSON)</h1>

@if (films == null)
{
    <p>Loading...</p>
}
else
{
    <div class="row">
    @foreach (var film in films)
        {
            <a class="card m1 mb-3 bg-dark-opacity" @onclick="() => SetActiveFilm(film.Url)">
                <div class="row no-gutters">
                    <div class="col-4">
                        <img class="img-fluid rounded-start card-img" src="/images/lego-starwars.jpg" alt="Lego Starwars!" />
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">@film.Title</h5>
                            <p class="card-text">@film.Release_date</p>
                        </div>
                    </div>
                </div>
            </a>
        }
        @if (activeFilm != null)
        {
            <Modal @ref="modal">
                <Title>@activeFilm.Title - Details</Title>
                <Body>
                    <blockquote cite="Star Wars">@activeFilm.Opening_Crawl</blockquote>
                    <div class="row">
                        <div class="col-6">
                            <h5>Directed by</h5>
                            <span>@activeFilm.Director</span>
                        </div>
                        <div class="col-6">
                            <h5>Release date</h5>
                            <span>@activeFilm.Release_date</span>
                        </div>
                    </div>
                </Body>
            </Modal>
        }
    </div>
}

@code {
    public Modal? modal { get; set; } = new Modal();
    List<Film> films = new List<Film>();
    public Film activeFilm = new Film();
    protected override async Task OnInitializedAsync()
    {
        var response = await StarWarsService.getFilms();
        if (response != null)
        {
            films.AddRange(response.results);
        }
    }
    private async Task SetActiveFilm(string url)
    {
        var response = await StarWarsService.getFilm(url);
        if (response != null && modal != null)
        {
            activeFilm = response;
            await modal.Open();
        }
    }
}